@font-face {
	font-family: 'Conv_Raleway-SemiBold';
	src: url('./Raleway-SemiBold.eot');
	src: local(''), url('./Raleway-SemiBold.woff') format('woff'), url('./Raleway-SemiBold.ttf') format('truetype'), url('./Raleway-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Raleway-ExtraBold';
	src: url('./Raleway-ExtraBold.eot');
	src: local(''), url('./Raleway-ExtraBold.woff') format('woff'), url('./Raleway-ExtraBold.ttf') format('truetype'), url('./Raleway-ExtraBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Raleway-ExtraLight';
	src: url('./Raleway-ExtraLight.eot');
	src: local(''), url('./Raleway-ExtraLight.woff') format('woff'), url('./Raleway-ExtraLight.ttf') format('truetype'), url('./Raleway-ExtraLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Raleway-Regular';
	src: url('./Raleway-Regular.eot');
	src: local(''), url('./Raleway-Regular.woff') format('woff'), url('./Raleway-Regular.ttf') format('truetype'), url('./Raleway-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
