include ../includes/section__title.pug

section.skills
    +section__title("Навыки")
    .skills__content
        .skills__content__item
            img(src="img/html.svg" alt="html")
        .skills__content__item
            img(src="img/css.svg" alt="css")
        .skills__content__item
            img(src="img/js.svg" alt="js")
        .skills__content__item
            img(src="img/webpack.svg" alt="webpack")
        .skills__content__item
            img(src="img/pug.svg" alt="pug")
        .skills__content__item
            img(src="img/sass.svg" alt="sass")
        .skills__content__item
            img(src="img/jquery.svg" alt="jquery")
        .skills__content__item
            img(src="img/react.svg" alt="reactjs")
        .skills__content__item
            img(src="img/python.svg" alt="python")
        .skills__content__item
            img(src="img/django.svg" alt="django")
        .skills__content__item
            img(src="img/sql.svg" alt="sql")
        .skills__content__item
            img(src="img/github.svg" alt="github")