header
    nav
        div.nav__item
            a(href="#") НАВЫКИ
        div.nav__item
            a(href="#") ПОРТФОЛИО
        div.nav__logo
            img(src="logo.png", alt="DrestX")
        div.nav__item
            a(href="#") ОБО МНЕ
        div.nav__item
            a(href="#") КОНТАКТЫ