section.title
    .title__name
        h2 Здравствуйте! Меня зовут Дмитрий и я
        h1 Full-stack web developer 
    .title__style
        div
            h4 style:
        div
            a classic
        div
            a monochrome
        div
            a black
    .title__lang
        div
            h4 lang:
        div
            a ru
        div
            a en